version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: postgres_helpdesk
    restart: always
    env_file:
      - .env
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - helpdesk_net

volumes:
  pgdata:

networks:
  helpdesk_net:
